<div>
  <h1>Hello from HTML-only app!</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, iusto.
    Voluptatem amet magnam laboriosam aperiam, maiores cum optio velit delectus
    nisi, soluta omnis numquam suscipit debitis ratione hic blanditiis facilis!
  </p>
  <p>
    Architecto ratione ut culpa vitae officia voluptatibus modi rerum labore
    nesciunt cumque quo, laborum doloremque harum quia eum mollitia possimus
    voluptas libero veritatis repellat eius. Temporibus dignissimos recusandae
    ad dolore!
  </p>
  <p>
    Hic ex quasi quam repellendus, in numquam consequuntur exercitationem.
    Facilis quisquam magnam repudiandae tenetur perferendis porro culpa animi
    suscipit ex vero! Explicabo, fuga. Accusantium rerum adipisci odit expedita,
    veritatis autem.
  </p>
  <p>
    Libero magnam debitis enim, natus hic nulla tenetur dolorem quidem labore
    consectetur voluptatibus ullam nobis odit id? Unde doloremque eveniet
    quibusdam, quas veniam nesciunt, ipsum error maiores mollitia animi dolore.
  </p>
  <p>
    Blanditiis pariatur ratione aspernatur optio quo eum voluptate vel sit dicta
    enim hic laborum, in impedit, labore voluptatem suscipit. Possimus, dolores
    mollitia laborum saepe totam corporis laboriosam? Iusto, cum culpa?
  </p>
  <p>
    Mollitia nostrum dolorem exercitationem numquam placeat hic, delectus
    tempora nulla consectetur sed autem velit harum commodi aliquam vitae.
    Ipsam, quod dolore. Alias recusandae ad, corrupti quod at facere. Sunt,
    suscipit!
  </p>
  <p>
    Quas aspernatur quod necessitatibus dolorem, numquam odit impedit quam,
    ducimus atque excepturi sit sint eligendi ea. Dolor, facere harum! Molestiae
    tempora nobis atque cum libero, mollitia veritatis nemo ipsum saepe.
  </p>
  <p>
    Alias nulla cum laudantium omnis provident dicta voluptatibus sit autem
    possimus fugiat veniam, itaque accusamus temporibus ipsum consectetur
    laboriosam deleniti, nisi dolorum aperiam soluta quam amet. Esse quam
    nesciunt modi?
  </p>
  <p>
    Minus sequi fuga rerum veritatis quod earum ducimus est. Corporis, sed
    adipisci aliquid quo ducimus et iste, nihil autem quis, ratione molestiae
    quasi dolores! Cupiditate a velit saepe cum repudiandae.
  </p>
  <p>
    Aperiam alias amet aspernatur odit animi corporis mollitia. Error quaerat
    libero sequi illum at voluptas id ea quam voluptatibus, aspernatur quisquam
    sapiente facere fuga, est aliquam et totam, esse ipsum.
  </p>
</div>
